body{
    display: grid;
    text-align: center;
    grid-template-rows: 1fr 1fr;
    
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    height: auto;
    
}
.player1{
    display: inline;
    width: auto;
    border: 10px solid pink;
    background-color: bisque;
    color: turquoise;
    text-transform: uppercase;
}
.player2{
    display: inline;
    border: 10px solid green;
    background-color: lightblue;
    width: auto;
    color: rgb(183, 12, 183);
    text-transform: uppercase;
}
#newGame input{
    display: grid;
    color: blue;
    margin: auto;
    width: 50%;
    height: 70px;
    font-size: larger;
    margin-top: 10px;
    
}

img{
    height: 314px;
    width: 226px;
}

h3{
    border: 7px solid silver;
    background: black;
    width: 60px;
    margin: auto;
    font-size:x-large;
}

#addTotal{
    width: 50%;
    margin: auto;
    font-size: x-large;
    margin-top: 25px;
    margin-bottom: 25px;
}

.winnerBox{
    display: grid;

   
    width: 60%;
    margin: auto;
    font-size:xx-large;
    font-weight: bolder;
    text-transform: uppercase;
    justify-content: center;
    color: purple;
    margin-bottom: 10px;
    margin-top: -55px;
}

body a{
    font-size: x-large;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: -5px;
    font:cursive bolder  x-large  ;
}
body a:hover{
    background-color: gold;
    
}

body a:visited{
    color: blue;
}

.newGame{
    cursor: pointer;
}


@media  (max-width:767px ) {
    body {background-color: yellow ;
        
    }

    img{
        width: 113px;
        height: 157px;
    }
    h1{
        font-size: large;
    }
    body a{
        font-size: medium;
    }
    #newGame input{
        width: 30%;

    }
    .winnerBox{
        margin-top: -45px;
        font-size: x-large;
        text-decoration: underline solid seagreen;

    }
    .player1
}