body{
    display: grid;
    text-align: center;
    grid-template-rows: 1fr 1fr;
    
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    height: auto;
    
}
.player1{
    display: inline;
    width: auto;
    border: 10px solid pink;
    background-color: bisque;
}
.player2{
    display: inline;
    border: 10px solid green;
    background-color: blue;
    width: auto;
}
#newGame input{
    display: grid;
    color: blue;
    margin: auto;
    width: 50%;
    height: 70px;
    font-size: larger;
    margin-top: 10px;
    
}

img{
    height: 314px;
    width: 226px;
}